<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% if title %}
            <title>{{title}} - Wish B.</title>
        {% else %}
            <title>Wish B.</title>
        {% endif %}

        <!-- Bootstrap core CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
		<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/notice_write.css') }}">


        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('.static', filename='js/jquery.base64.js') }}"></script>

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            $(document).ready(function(){
                $("#inquiryContent").keyup(ValidationCheck);
                if(CheckAuthentication()){
                    $("#inquirySubmitBtn").click(SubmitNotice);
                } else {
                    alert("Authentication Failed");
                    window.history.back();
                }
            });

            var CheckAuthentication = function(){
                var auth;
                if (localStorage.getItem('token')){
                    var auth_token = localStorage.getItem('token');
                    var hash = $.base64.encode(auth_token + ':unused');
                    $.ajax({
                        url: '/api/resource',
                        type: 'GET',
                        async: false,
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("Authorization", "Basic "+hash);
                        },
                        success: function(data){
                            auth = true;
                        },
                        error: function(jqXHR){
                            console.log("ajax error " + jqXHR.status + ": " + jqXHR.description);
                            auth = false;
                        }
                    });
                } else {
                    auth = false;
                }
                return auth;
            };

            var SubmitNotice = function(){
                var data = {subject:$('#inquirySubject').val(),
                            type:'inquiry',
                            email:localStorage.getItem('email'),
                            report:$('#inquiryContent').val()}
                $.ajax({
                    type:'post',
                    url: '/api/report',
                    async: false,
                    contentType: 'application/json',
                    accepts: 'application/json',
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    beforeSend: function(xhr){
                        var hash = $.base64.encode(localStorage.getItem('token') + ':unused');
                        xhr.setRequestHeader("Authorization","Basic " + hash);
                    },
                    success:function(data){
                        alert("접수되었습니다!!");
                        window.location.replace('/index');
                    },
                    error: function(jqXHR){
                        console.log("ajax error " + jqXHR.status);
                    }
                });
            };

            var ValidationCheck = function(){
                var inquiryContent = $("#inquiryContent").val();
                if (inquiryContent.length > 0){
                    $("#inquirySubmitBtn").attr('class','btn btn-primary enabled');
                } else {
                    $("#inquirySubmitBtn").attr('class','btn btn-default disabled');
                }
            }

        </script>
    </head>

    <body>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/inquiry">문의하기</a></li>
                    <li><a href="/notice">공지사항</a></li>
                    <li><a href="/index">메인으로</a></li>
                </ul>
                <h3 class="text-muted">Wish B<small> :: 문의하기</small></h3>
            </div>
            <div class="body">
                <form role="form">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="inquirySubject" placeholder="Enter Subject">
                  </div>
                  <div class="form-group">
                    <label for="contents">Contents</label>
                    <textarea class="form-control" id="inquiryContent" placeholder="Enter Content" rows="10"></textarea>
                    <span>임시 저장기능이 구현되어 있지 않으니 작성시 주의 바랍니다.</span>
                  </div>
                  <div class="checkbox fade">
                    <label>
                      <input type="checkbox"> Dummy Checkbox (for publish)
                    </label>
                  </div>
                  <button type="button" class="btn btn-default disabled" id="inquirySubmitBtn">Submit</button>
                  <button type="button" class="btn btn-danger" id="cancelBtn" onclick="history.go(-1)">Cancel</button>
                </form>
            </div>

            <div class="footer">
                <p>&copy; Wish B. 2014</p>
            </div>

        </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

</html>
