<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% if title %}
            <title>{{title}} - Wish B.</title>
        {% else %}
            <title>Wish B.</title>
        {% endif %}

        <!-- Bootstrap core CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
		<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/notice_write.css') }}">


        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
        <script src="{{ url_for('.static', filename='js/ng-infinite-scroll.min.js') }}"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('.static', filename='js/jquery.base64.js') }}"></script>

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            $(document).ready(function(){
                if(CheckAuthentication()){
{#                    $("#noticeSubmitBtn").click(SubmitNotice);#}
{#                    $("#noticeSubject").keyup(ValidationCheck);#}
                } else {
                    alert("Authentication Failed");
                    window.history.back();
                }
            });

            var CheckAuthentication = function(){
                var auth;
                if (localStorage.getItem('token')){
                    var auth_token = localStorage.getItem('token');
                    var hash = $.base64.encode(auth_token + ':unused');
                    $.ajax({
                        url: '/api/resource',
                        type: 'GET',
                        async: false,
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("Authorization", "Basic "+hash);
                        },
                        success: function(data){
                            if(data.data.is_admin == 0){
                                document.getElementById('noticeWriteBtn').style.visibility = 'hidden';
                                $("#menuInquiryLink").attr('href','/inquiry/write');
                                auth = true;
                            } else {
                                document.getElementById('noticeWriteBtn').style.visibility = 'visible';
                                $("#menuInquiryLink").attr('href','/inquiry');
                                $("#noticeWriteBtn").click(GotoNoticeWrite);
                                auth = true;
                            }
                        },
                        error: function(jqXHR){
                            console.log("ajax error " + jqXHR.status + ": " + jqXHR.description);
                            auth = false;
                        }
                    });
                } else {
                    auth = false;
                }
                return auth;
            };

            var app = angular.module('App', ['infinite-scroll']);

            app.config(function($interpolateProvider) {
                  $interpolateProvider.startSymbol('//');
                  $interpolateProvider.endSymbol('//');
            });

            app.controller('noticeCtrl', function($scope, $http){
                $http.get('/api/noticelist').success(function(data){
                    $scope.noticelist = data.data;
                });

                $scope.go = function(notice){
                    var escaped = $('<div>').text(notice.content).text();
                    $("#myModalSubject").html(notice.subject);
                    $('#myModalContent').html(escaped.replace(/\n/g, '<br />'));
                };
            });


            var GotoNoticeWrite = function(){
                window.location = 'notice/write';
            }

        </script>
    </head>

    <body ng-controller="noticeCtrl">
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li id="menuInquiryBtn"><a href="#" id="menuInquiryLink">문의하기</a></li>
                    <li class="active"><a href="#">공지사항</a></li>
                    <li><a href="/index">메인으로</a></li>
                </ul>
                <h3 class="text-muted">Wish B<small> :: 공지사항</small></h3>
            </div>
            <div class="body">
                <table class="table table-hover" id="noticeTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notice in noticelist" ng-click="go(notice)" data-toggle="modal" data-target="#myModal">
                            <td>// $index + 1 //</td>
                            <td>// notice.subject //</td>
                            <td><small>// notice.reg_dt.$date | date:'yyyy-MM-dd' //</small></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-default" id="noticeWriteBtn">작성하기</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalSubject">Modal title</h4>
                  </div>
                  <div class="modal-body" id="myModalContent">
                    ...
                  </div>
                  <div class="modal-footer">
{#                    <button type="button" class="btn btn-danger">삭제하기</button>#}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer">
                <p>&copy; Wish B. 2014</p>
            </div>

        </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
